@font-face {
  font-family: 'monsterama';
  src: url('../../../assets/fonts/monsterama.ttf') format('truetype');

  font-family: 'Antreas';
  src: url('../../../assets/fonts/Antreas.ttf') format('truetype');
}

ion-title {
  color: #ff0000;
  --font-family: 'Antreas';
}
ion-menu-button {
  color: #ff0000;
}

.contenedorBotones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-button {
  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --padding-top: 10px;
  --padding-bottom: 10px;

  width: 100%;
  height: 45vh;
  font-size: 40px;
  font-weight: bold;
}

#botonLindas {
  --background: url('../../../assets/images/cosas-lindas.png');
  // --background: #54bb52;
  --background-hover: #54bb52;
  --background-activated: #54bb52;
  --background-focused: #54bb52;
  --color: rgb(0, 0, 0);
  --border-radius: 0;
}

#botonFeas {
  --background: url('../../../assets/images/cosas-feas.png');
  --background-size: cover;
  // --background: #a33b3b;
  --background-hover: #a33b3b;
  --background-activated: #a33b3b;
  --background-focused: #a33b3b;
  --color: rgb(248, 45, 45);
  --border-radius: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 95%;
}

.contenedor-imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Toast que informa cómo funcionó sacar la foto
.custom-toast {
  --background: #65b548;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --border-radius: 5px;
  --color: #fff;
  font-size: 23px;
  font-family: 'Antreas';
}
.custom-toast::part(message) {
  font-size: 36px;
}

// Toast que da la bienvenida
.custom-toast-bienvenida {
  --background: #000000;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --border-radius: 5px;
  --color: #de1d1d;
  font-family: 'Antreas';
}
.custom-toast-bienvenida::part(message) {
  font-size: 32px;
  text-align: center;
}