<ion-content [fullscreen]="true">

  <ion-item>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title style="font-family: 'Antreas'; font-size: 32px;">RELEVAMIENTO VISUAL</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-item>

  <div class="contenedorBotones">
    <ion-button id="botonLindas" size="large" (click)="tomarFoto('lindas')">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label style="font-family: 'Antreas';">COSAS LINDAS</ion-label>
      <ion-icon name="sparkles-outline"></ion-icon>
    </ion-button>

    <ion-button id="botonFeas" size="large" (click)="tomarFoto('feas')">
      <ion-icon name="skull-outline"></ion-icon>
      <ion-label style="font-family: 'Antreas';">COSAS FEAS</ion-label>
      <ion-icon name="skull-outline"></ion-icon>
    </ion-button>
  </div>


  <!-- Toast -->
  <!-- isOpen va a ser el estado, hay que pasarle una variable bool de nuestro TS -->
  <!-- [message] va a ser el texto del Toast. Le paso la variable de mi TS, aunque podría hardcodearlo aca -->
  <!-- class va a ser una clase CSS que le puedo poner para cambiarle los estilos -->
  <!-- didDismiss sirve para ponerla en estado de false al iniciar. Es importante que empiece en falso -->
  <ion-toast [isOpen]="isToastOpen"
    [message]="mensajeToast"
    [duration]="3500"
    class="custom-toast"
    (didDismiss)="isToastOpen = false"
    icon="checkmark-circle-outline">
  </ion-toast>

  <!-- Este es el Toast que da la bienvenida -->
  <ion-toast [isOpen]="toastBienvenida"
    message="¡Bienvenido a Relevamiento Visual!"
    [duration]="3500"
    class="custom-toast-bienvenida"
    (didDismiss)="toastBienvenida = false">
  </ion-toast>
</ion-content>