<ion-content [fullscreen]="true">
  <div class="header ion-text-center">
    <p class="external-paragraph">
    M <br>
    I <br>
    G <br>
    U <br>
    E <br>
    L <br>
    <br> <br>
    A <br>
    N <br>
    G <br>
    E <br>
    L <br>
    <br> <br>
    G <br>
    I <br>
    L <br>
  </p>
  </div>

  <div class='container ion-text-center'>
    <img src="../../../assets/app2-icono1024.png">
  </div>

  <div class="footer ion-text-center">
    <p class="external-paragraph">
      P <br>
      P <br>
      S <br>
      - <br>
      4 <br>
      T <br>
      O <br>
      <br> <br>
      A <br>
    </p>
  </div>
</ion-content>